body{
    font-family: sans-serif;
    size: 16px;  
}

h1{
    font-size: 48px;
    border: 3px solid blue;
    border-width: 2px;
    color: brown;
    background-color: azure;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h2{
    font-size: 32px;
    margin: 8px auto;
    color: brown;
    background-color: azure;
    max-width: 600px;
    text-align: center;
}

ul{
    size: 32px
}

li{

    margin: 8px;
    font-size: 32px;
    list-style-type: disc;
}



.href{
size: 32px;

}